.online-marketing-needs.padding-top-bottom#products
  .container
    .row
      .col-sm-12.col-lg-12
        %div{:style => "margin: 0 auto; clear: both; max-width: 850px"}
          %h1.text-center{:style => "font-size: 8vw; color: #4861c4; margin-top: 5vw"}
            WHO ARE WE?
          %h3.text-center{:style => "color: #9ca1a9; font-size: 3vw"}
            We are a software factory focused on web applications and mobile applications with the goal of been one of the most important development company.
%section{:id=>"cbp-so-scroller", :class => "cbp-so-scroller split2col"}
  .container.cbp-so-section
    .colText.cbp-so-side.cbp-so-side-left
      %h2{:style => "font-size: 8vw"} WEB APP
      %span.lead We use the newer versions of 
      %span.lead{:style => "color: rgb(203, 36, 38)"} Ruby, 
      %span.lead{:style => "color: rgb(170, 30, 32)"} Ruby on Rails, 
      %span.lead{:style => "color: rgb(113, 207, 243)"} React, 
      %span.lead{:style => "color: black"} Solidity
      %span.lead and 
      %span.lead{:style => "color: rgb(235, 192, 60)"} Python
      %span.lead to have the highest efficiency
      .clearfix
      .callout-list
        .callout
          .cIcon
            %img.givemesomespace2{:src => "img/browser-test.svg", :class => "img-responsive"}/
          .cText
            %h4.text-icon Openbot
        .callout
          .cIcon
            %img.givemesomespace2{:src => "img/publish.svg", :class => "img-responsive"}/
          .cText
            %h4.text-icon Openminer
        .callout.hidden
          .cIcon
            %img.givemesomespace2{:src => "img/clean-code.svg", :class => "img-responsive"}/
          .cText
            %h4.text-icon CryptoStudio
    .colImg.cbp-so-side.cbp-so-side-right
      .image-container
        %img{:alt => "", :src => "img/webapplication.png", :class => "img-responsive hidden-xs"}/
  .clearfix
%section{:id=>"cbp-so-scroller2", :class => "cbp-so-scroller2 split2col invert"}
  .container.cbp-so-section
    .colText.cbp-so-side.cbp-so-side-right
      %h2{:style => "font-size: 8vw"} MOBILE APP
      %span.lead We are currently working with
      %span.lead{:style => "color: rgb(61, 147, 192)"} React Native
      %span.lead to the development of iOS and Android applications
      .clearfix
      .callout-list
        .callout
          .cIcon
            %img.givemesomespace{:src => "img/browser-test.svg", :class => "img-responsive"}/
          .cText
            %h4.text-icon GoBit
    .colImg.cbp-so-side.cbp-so-side-left
      .image-container
        %img{:alt => "", :src => "img/webapplication.png", :class => "img-responsive hidden-xs"}/
  .clearfix
