.homepage-hero-module#home
  .video-container
    .title-container
      %h1.text-white
        WE CREATE MEANINGFUL & AESTHETHICS PROJECTS
    .filter
    %video.fillWidth{:autoplay => "", :loop => "", }
      %source{:src => "img/video/Hello-World.mp4", :type => "video/mp4"}>