.check-out-area.check-home-three#service
  .container
    .row
      .col-md-12
        %h1{:style => "color: white"} WE, A SOFTWARE FACTORY. YOU, THE IDEAS MAKER
      .col-md-10
        %h2{:style => "color: white"} Potatoe, tomatoe, potatoes, tomatoes. Old Jhon
