.copy-right-area
  .container
    .row
      .col-md-12
        .copy-right
          %p.text-center
            © Copyrights CleverCode 2017 All rights reserved. Designed by
            %a{:href => ""} CleverCode. LLC