%section#offices
  .container
    %h2.text-center OUR OFFICES
    .row
      .col-md-offset-1.col-md-10.hidden-xs
        #chartdiv
    #countryinfo.row
      .col-xs-8.col-xs-offset-2.hidden-sm.hidden-md.hidden-lg
        .panel.panel-default
          %img{:alt => "Colombia", :src => "img/co.png"}/
          %h3 COLOMBIA
          %p Colombia office data
      .col-xs-8.col-xs-offset-2.hidden-sm.hidden-md.hidden-lg
        .panel.panel-default
          %img{:alt => "United States", :src => "img/usa.png"}/
          %h3 UNITED STATES
          %p USA office data
      .col-xs-8.col-xs-offset-2.hidden-sm.hidden-md.hidden-lg
        .panel.panel-default
          %img{:alt => "Sweden", :src => "img/sw.png"}/
          %h3 SWEDEN
          %p Sweden office data