%section#ourteam
  .container
    .row
      .col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1.text-center
        %header
          %h2 WORK TEAM
          %p We have a highly qualified development team who constantly questions, tinkers, and challenges to unlock great creativity around every turn
    .row
      .col-sm-4.col-xs-6
        .panel.panel-default
          %a{"data-toggle" => "modal", "data-target" => "#jose"}
            %img{:alt => "Jose", :src => "img/emp/2018_cc-ill-gro-s.png", :class => "efecto"}/
          %h3 JOSE FERRER
          %p Front End Web Developer
      .col-sm-4.col-xs-6
        .panel.panel-default
          %a{"data-toggle" => "modal", "data-target" => "#rodman"}
            %img{:alt => "Rodman", :src => "img/emp/2018_cc-ill-rodfaggot-s.png", :class => "efecto"}/
          %h3 RODMAN AGUIRRE
          %p Back End Web Devealloper
      .col-sm-4.col-xs-6
        .panel.panel-default
          %a{"data-toggle" => "modal", "data-target" => "#nicole"}
            %img{:alt => "Nicole", :src => "img/emp/2018_cc-ill-ndelrom-s.png", :class => "efecto"}/
          %h3 NICOLE DELGADO
          %p Graphic Designer
      .col-sm-4.col-xs-6
        .panel.panel-default
          %a{"data-toggle" => "modal", "data-target" => "#aleja"}
            %img{:alt => "Aleja", :src => "img/emp/2018_cc-ill-ale-s.png", :class => "efecto"}/
          %h3 ALEJANDRA IZA
          %p Scrum Master
      .col-sm-4.col-xs-6
        .panel.panel-default
          %a{"data-toggle" => "modal", "data-target" => "#fidel"}
            %img{:alt => "Fidel", :src => "img/emp/2018_cc-ill-delfi-s.png", :class => "efecto"}/
          %h3 FIDEL BARREAT
          %p Front End Web Developer
      .col-sm-4.col-xs-6
        .panel.panel-default
          %a{"data-toggle" => "modal", "data-target" => "#johny"}
            %img{:alt => "Johny", :src => "img/emp/2018_cc-ill-johnny-s.png", :class => "efecto"}/
          %h3 JOHNATAN TORRIJOS
          %p Certified Public Accountant
      .col-sm-4.col-xs-6
        .panel.panel-default
          %a{"data-toggle" => "modal", "data-target" => "#mdiaza"}
            %img{:alt => "mario alfonso", :src => "img/emp/2018_cc-ill-mario-s.png", :class => "efecto"}/
          %h3 MARIO ALFONSO DIAZ
          %p Co-Founder
      .col-sm-4.col-xs-6
        .panel.panel-default
          %a{"data-toggle" => "modal", "data-target" => "#mdiazm"}
            %img{:alt => "mario andres", :src => "img/emp/2018_cc-ill-andres-s.png", :class => "efecto"}/
          %h3 MARIO ANDRES DIAZ
          %p Founder
      .col-sm-4.col-xs-6
        .panel.panel-default
          %a{"data-toggle" => "modal", "data-target" => "#svigo"}
            %img{:alt => "viña", :src => "img/emp/2018_cc-ill-vina-s.png", :class => "efecto"}/
          %h3 SEBASTIAN VIÑA
          %p Director of innovation
      
      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1", :id => "jose"}
        .modal-dialog.modal-md{:role => "document"}
          .modal-content
            .modal-body
              .row
                .col-sm-6
                  %img{:alt => "jose", :src => "img/emp/2018_cc-ill-gro-s.png", :class => "img-responsive"}/
                .col-sm-6
                  %h3 JOSE FERRER
                  %p "Everything enters through the eyes"
                  %p.text-justify I am a front-end developer who likes to make applications as friendly as possible for easy navigability and great adaptability of the human interface. I like cars and the mondongo soup.
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cerrar
      
      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1", :id => "rodman"}
        .modal-dialog.modal-md{:role => "document"}
          .modal-content
            .modal-body
              .row
                .col-sm-6
                  %img{:alt => "rodman", :src => "img/emp/2018_cc-ill-rodfaggot-s.png", :class => "img-responsive"}/
                .col-sm-6
                  %h3 RODMAN AGUIRRE
                  %p "The best way to predict the future is to implement it"
                  %p.text-justify I’m a full-stack developer dedicated to learn new technologies and languages ​​at the forefront. I like board games and mexican food.
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cerrar

      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1", :id => "nicole"}
        .modal-dialog.modal-md{:role => "document"}
          .modal-content
            .modal-body
              .row
                .col-sm-6
                  %img{:alt => "jose", :src => "img/emp/2018_cc-ill-ndelrom-s.png"}/
                .col-sm-6
                  %h3 NICOLAS ROMERO
                  %p "The most important attribute that should characterize a designer is the intrigue"
                  %p.text-justify I’m a Tadeist designer who analyzes, creates and proposes the graphic pieces of the company since I love the details and the articulation between idea and expression. I like the Netflix series and ramen.
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cerrar
            
      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1", :id => "aleja"}
        .modal-dialog.modal-md{:role => "document"}
          .modal-content
            .modal-body
              .row
                .col-sm-6
                  %img{:alt => "rodman", :src => "img/emp/2018_cc-ill-ale-s.png"}/
                .col-sm-6
                  %h3 ALEJANDRA IZA
                  %p "Scrum = rules + spirit + good practices"
                  %p.text-justify I’m a communicator who is passionate about technology and understanding code. I organize, coordinate and encourage the team to obtain the best results in the shortest possible time. I like dance and sushi.
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cerrar
      
      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1", :id => "fidel"}
        .modal-dialog.modal-md{:role => "document"}
          .modal-content
            .modal-body
              .row
                .col-sm-6
                  %img{:alt => "jose", :src => "img/emp/2018_cc-ill-delfi-s.png"}/
                .col-sm-6
                  %h3 FIDEL BARREAT
                  %p "A tester is responsible for finding faults, but a QA not only finds them, he helps prevent them"
                  %p.text-justify I’m a Venezuelan who 5 years ago Colombia hosted, I focus on testing the quality of our products for proper operation. I like video games, and hamburgers.
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cerrar
            
      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1", :id => "johny"}
        .modal-dialog.modal-md{:role => "document"}
          .modal-content
            .modal-body
              .row
                .col-sm-6
                  %img{:alt => "rodman", :src => "img/emp/2018_cc-ill-johnny-s.png"}/
                .col-sm-6
                  %h3 JHONATHAN TORRIJOS
                  %p "Behind every good business is a great accountant"
                  %p.text-justify I’m a financial advisor who keeps accounts in an organized manner for easy understanding. I like good soccer and pizza.
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cerrar

      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1", :id => "mdiaza"}
        .modal-dialog.modal-md{:role => "document"}
          .modal-content
            .modal-body
              .row
                .col-sm-6
                  %img{:alt => "rodman", :src => "img/emp/2018_cc-ill-mario-s.png"}/
                .col-sm-6
                  %h3 MARIO ALFONSO DIAZ ZABALA
                  %p "Strategic management is an essential part of every company"
                  %p.text-justify I’m a visionary who creates and takes advantage of the opportunities presented to him. With great ideas to impact the market and deliver the best of the company to the public. I like sports and seafood
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cerrar

      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1", :id => "mdiazm"}
        .modal-dialog.modal-md{:role => "document"}
          .modal-content
            .modal-body
              .row
                .col-sm-6
                  %img{:alt => "rodman", :src => "img/emp/2018_cc-ill-andres-s.png"}/
                .col-sm-6
                  %h3 MARIO ANDRES DIAZ MUÑOS
                  %p "not about ideas, but make them come true"
                  %p.text-justify I’m a visionary who creates and takes advantage of the opportunities presented to him. With great ideas to impact the market and deliver the best of the company to the public. I like sports and seafood.
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cerrar

      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1", :id => "svigo"}
        .modal-dialog.modal-md{:role => "document"}
          .modal-content
            .modal-body
              .row
                .col-sm-6
                  %img{:alt => "rodman", :src => "img/emp/2018_cc-ill-vina-s.png"}/
                .col-sm-6
                  %h3 SEBASTIAN VIÑA
                  %p "The best advertising is what satisfied customers do"
                  %p.text-justify I’m a creative mechatronic engineer who is responsible for designing strategies, support in the capture and negotiation with large accounts and prepare sales forecasts with the marketing team. I like to ride a bicycle and spaghetti.
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cerrar